
* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.board {
    background-color: #FFD854;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
}

.board h1 {
    text-align: center;
}

.column {
    display: flex;
    min-width: 300px;
    min-height: 50vh;
    flex-direction: column;
    border-right: 1px solid black; 
    border-top: 1px solid black; 
    align-items: center;
}

.column:nth-of-type(odd) {
    background-color: #5293D6;
}

.column:nth-of-type(even) {
    background-color: #FFD854;
}

.column:last-of-type {
    border-right: none;
}

.column-container, .column-button {
    display: flex; 
    flex-flow: wrap;
}

.column-title {
    text-align: center;
}

.create-column {
    width: 200px;
    margin: 10px 0;
}

.add-card, .btn-delete-card, .btn-delete-column, .create-column {
    color: white;
    background-color: transparent;
    border-radius: 11px;
    border: 2px solid white;
    box-sizing: content-box;
    cursor: pointer;
    transition-duration: 0.4s;
    padding: 2px;
}

.add-card:hover, .btn-delete-column:hover, .create-column:hover, .btn-delete-card:hover {
    color: black;
    border: 2px solid black;
    padding: 5px;
}

.card {
    display: block;
    position: relative;
    overflow: hidden;
}

.card-placeholder, .card {
    width: 250px;
    height: 60px;
    background-color: gray;
    border-left: 6px solid #6055EC;
    margin-top: 10px;
    list-style-type: none;
}

p {
    color: white;
    padding-top: 15px;
}

.btn-delete-card {
    position: absolute;
    right: 0;
    top: 0;
}

#card-name, #column-name  {
    margin-bottom: 10px;
    border: 2px solid #5293D6;
}

.ui-sortable {
    min-height: 250px;
    min-width: 150px;
}

